<ul>
                <li>Empresa: {{this.empresa}}</li>
        <li>Cargo: {{this.cargo}}</li>

        {{#if this.descricao }}
        <li>Descricao: {{this.descricao}}</li>
        {{else}}
        <li>Não há descrição</li>
        {{/if}}
</ul>