<a class="div_musicas montserrat" href="/sites/{{this.id}}">
    <div >
        <h2 class="bold">{{this.nome}}</h2>
        <small style="float: left; color: rgb(145, 5, 5);">Dificuldade: </small>
        <p> {{this.dificuldade}}</p>
    </div>
</a>