*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul{
    display: flex;
    list-style: none;
    font-weight: 500;
    font-size: 25px;
}
h1,ul,p{
    font-family: 'Roboto', sans-serif;

}
nav{
    z-index: 1;
}
section{
    position: relative;
    /* z-index: -1; */
}
.sale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 200px;
    background: rgb(255,1,62);
    background: linear-gradient(90deg, rgba(255,1,62,1) 0%, rgba(224,101,54,1) 100%);
}

.sale-div>h1,.timer>h1{
    font-weight: 500;
    color: white;
}
.timer{
    display: flex;
    justify-content: end;
}
.sale-div{
    position: relative;
    margin: 0 auto
}
.home{
    height: 100%;
}
.home>h1{
    display: flex;
    width: fit-content;
    height: 100%;
    padding: 0 50px;
    align-items: center;
    font-weight: 500;
    background-color: #FFFF;
}
.pages-nav{
    width: 100%;
    height: 50px;
    background-color: #EDEDED;
}
.departamento-flex{
    display: flex;
    align-items: center;
}
.departamento{
    display: flex;
}
.departamento>li{
    margin: 0 80px;
}
.departamento-nav{
    display:flex;
    justify-content:center;
    padding: 0 200px;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* .foto img{
    width: 474px;
    margin-top: 50px;
} */
.diferenca,img,.oferta-relampago-container{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
.foto{
    display: flex;
    /* width: 70%; */
    /* height: 575px; */
    /* margin: 0  0 0 400px  ; */
    
    background-color: aqua;
    border-right: 3px solid black;
    justify-content: center;
}
.preview{
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 0;
}
.preview>img{
    margin: 0 0 20px 0  ;
}
.container{
    display: flex;
    justify-content: center;
    margin: 50px 0 0 ;

}
.product-name{
    font-weight: 500;
    font-size: 24px;
}
.descricao{
    background-color: yellow;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.carrinho{
    /* display: flex; */
    color: white;
}
.carrinho-container{
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
}
.div-descricao-produto{
    background-color: white;
    width: fit-content;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.preco,.diferenca{
    display: flex;
    margin: 10px 0 0 ;
}
.preco-promo{
    font-size: 40px;
    font-weight: 600;
    color: #FF0000;
}
.preco-original{
    color: #898989;
    text-decoration: line-through;
    font-size: 20px;
}
.diferenca{
    margin: 10px 0 0 10px;
    color: #FF0000;
}
.preco-diferenca{
    font-weight: 600;
}
.oferta-relampago-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 45px;
    margin: 20px 0 0 ;
    background-color: #FF0000;
}
.oferta-relampago-container>p{
    font-weight: 500;
    color: white;
}
.itens-restantes{
    font-weight: 500;
    margin: 5px 0 0;
    color: #FF0000;
}
.btn-comprar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin: 20px 0 0;
    width: 100%;
    height: 70px;
    border: 0;
    background-color: #222;
    color: #FFFF;
    font-size: 25px;
    font-weight: 600;
    transition: 0.2s;
    z-index: 20;
    cursor:pointer;
}
.btn-comprar:hover{
    background-color: #464646;
}