<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/cadastrar/enviar" method="post">
    <label for="">Nome da Musica</label>
    <input name="musica" type="text">
    <label for="">Nome do artista</label>
    <input name="artista" type="text">
    <label for="">Nome do album</label>
    <input name="album" type="text">
    <label for="">Data de lançamento</label>
    <input name="dataLancamento" type="date">
    <button type="submit">Cadastrar</button>
</body>
</html>