<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search/enviar"method='post'>
    <label for="">Digite o id da musica</label>
    <input type="text" name="id">
    <button type="submit">Pesquisar</button>
    </form>
    <ul>
        <li>Musica: {{musicaEscolhida.nome}}</li>
        <li>Artista: {{musicaEscolhida.artista}}</li>
    </ul>
</body>
</html>