<h1>Cadastro de experiencias</h1>
<form action="/register-adress/create/{{id}}" method="post">
    <input type="hidden" name="UserId" value="{{id}}">
    <label>Empresa</label><br>
    <input name="empresa" type="text"> <br>

    <label for="">Cargo</label><br>
    <input name="cargo" type="text"><br>

    <label for="">Descricao</label><br>
    <input name="descricao" type="text"><br>

    <button type="submit">Cadastrar</button>
</form>