<h1>Cadastro de usuarios</h1>
<form action="/users/create" method="post">
    <label>Nome</label><br>
    <input name="nome" type="text"> <br>

    <label for="">Email</label><br>
    <input name="email" type="email"><br>

    <label for="">Senha</label><br>
    <input name="senha" type="password"><br>

    <label>Ocupação</label><br>
    <input name="ocupacao" type="text"><br>

    <label for="">Deseja receber novidades em seu email?</label>
    <input checked type="checkbox" name="alerta"><br>

    <button type="submit">Cadastrar</button>
</form>